@charset "UTF-8";
.chart {
	margin:20px auto;
	width:100%;
	max-width:960px;
	min-height:640px;
}

.table {
	margin:20px auto;
	width:100%;
	max-width:960px;
	border-collapse:collapse;
	caption {
		font:bold 21px sans-serif;
	}
	thead tr {
		border-top: 2px solid gray;
		border-bottom:2px solid gray;
		height:80px;
	}
	tbody tr {
		border-bottom:1px solid gray;
		height:60px;
	}
	.inline-chart{
		margin:10px auto;
		width:100%;
		width:100%;
		max-width:400px;
		min-width:200px;
		height:60px;
	}
}
.pic-asbg {
	position:relative;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	margin:20px auto;
	width:100%;
	max-width:960px;
	min-height:640px;
}

.text-rightbottom {
	position:absolute;
	right:10px;
	bottom:10px;
	max-width:422px;
}
/*
.videosource{
	margin:20px auto;
	width:100%;
	max-width:960px;

}*/