@charset "UTF-8";

#bar1 {
	width:100%;
	height: 400px;
}

#line1 {
	width:100%;
	height: 600px;
}

#line2 {
	width:100%;
	height:500px;
	margin:20px 5px;
}

.pic-asbg {
	position:relative;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	width:100%;
	height:300px;
}

.text-rightbottom {
	position:absolute;
	right:10px;
	bottom:10px;
	max-width:422px;
}

#bar2 {
	width:100%;
	height: 400px;
}
