@charset "UTF-8";
header, article {
	margin:20px auto;
	width:100%;
	max-width:960px;
}
.mainTitle {
	text-align:center;
	font-family: Helvetica Neue,Helvetica,Hiragino Sans GB,Heiti SC,STHeiti;
	font-weight:bold;
	padding:10px 0;
	margin:0
}
.dateTime {
	text-align:center;
	padding:10px 0;
	margin:0;
}
.authorInfo {
	text-align:center;
	padding:10px 0;
	margin:0;
}
.abstract {
	padding:10px 5px;
	margin:0 auto;
	font-size:14px;
	line-height:162%;
	width:100%;
	max-width:600px;
}

.mainpart {
	margin:30px 5px;
	max-width:960px;
	p {
		font-size:17px;
		line-height:162%;
		padding:10px 0;
		margin:0;
	}
}

.textAroundPic {
	img {
		margin:0 auto;
		display:block;
		width:100%;
		max-width:500px;

	}
}



.chart {
	margin:20px auto;
	width:100%;
	max-width:960px;
	min-height:640px;
}

.table {
	margin:20px auto;
	width:100%;
	max-width:960px;
	border-collapse:collapse;
	caption {
		font:bold 21px sans-serif;
	}
	thead tr {
		border-top: 2px solid gray;
		border-bottom:2px solid gray;
		height:80px;
	}
	tbody tr {
		border-bottom:1px solid gray;
		height:60px;
	}
	.inline-chart{
		margin:10px auto;
		width:100%;
		width:100%;
		max-width:400px;
		min-width:200px;
		height:60px;
	}
}
.pic-asbg {
	position:relative;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	margin:20px auto;
	width:100%;
	max-width:960px;
	min-height:640px;
}

.text-rightbottom {
	position:absolute;
	right:10px;
	bottom:10px;
	max-width:422px;
}
/*
.videosource{
	margin:20px auto;
	width:100%;
	max-width:960px;

}*/