@charset "UTF-8";
body {
	background:#fff1e0;
}
header, article {
	margin:20px auto;
	width:100%;
	max-width:960px;
}
.mainTitle {
	text-align:center;
	font-family: Helvetica Neue,Helvetica,Hiragino Sans GB,Heiti SC,STHeiti;
	font-weight:bold;
	padding:10px 0;
	margin:0
}
.dateTime {
	text-align:center;
	padding:10px 0;
	margin:0;
}
.authorInfo {
	text-align:center;
	padding:10px 0;
	margin:0;
}
.abstract {
	padding:10px 5px;
	margin:0 auto;
	font-size:14px;
	line-height:162%;
	width:100%;
	max-width:600px;
}

.maincompo {
	margin:30px 5px;
	max-width:960px;
	header {
		font-weight:900;
		font-size:18px;
		font-family:'黑体','sans-serif';
	}
	p {
		font-size:17px;
		line-height:162%;
		padding:10px 0;
		margin:0;
	}
}


.textaroundpic {
	img {
		margin:0 auto;
		display:block;
		width:100%;
		max-width:500px;
	}
}


.chart {
	margin:0 auto;
	width:100%;
	max-width:660px; /*这里要注意区分高清屏，比如iphone6,屏幕宽375,但实际像素确实750*/
	min-height:440px;//可以改为height=2/3width
}

.map {
	margin:0 auto;
	width:100%;
	max-width:960px; /*这里要注意区分高清屏，比如iphone6,屏幕宽375,但实际像素确实750*/
	min-height:640px;//可以改为height=2/3width
}
.table {
	margin:0 auto;
	width:100%;
	max-width:660px;
	border-collapse:collapse;
	caption {
		font-weight:900;
		font-size:18px;
		font-family:'黑体','sans-serif';
	}
	thead tr {
		border-top: 2px solid gray;
		border-bottom:2px solid gray;
		height:80px;
	}
	tbody tr {
		border-bottom:1px solid gray;
		height:60px;
	}
	.inline-chart{
		margin:10px auto;
		width:100%;
		width:100%;
		max-width:400px;
		min-width:200px;
		height:60px;
	}
}
.pic-asbg {
	position:relative;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	margin:20px auto;
	width:100%;
	max-width:960px;
	min-height:640px;
}

.text-rightbottom {
	position:absolute;
	right:10px;
	bottom:10px;
	max-width:422px;
}

.video{
	object {
		width:742;
		height:471;
		margin:0 auto;
		display:block;
	}
}
/*
.videosource{
	margin:20px auto;
	width:100%;
	max-width:960px;

}*/