<header>
 	{% if titlePart.mainTitle %}
	<h1 class="mainTitle">
		{{titlePart.mainTitle}}
	</h1>
	{% endif %}

	{% if titlePart.subTitle %}
	<h2 class="subTitle">
		{{titlePart.subTitle}}
	</h2>
	{% endif %}

	{% if titlePart.dateTime %}
	<p class="dateTime">
		{{titlePart.dateTime}}
	</p>	
	{% endif %}

	{% if titlePart.authorInfo %}
	<p class="authorInfo">
		{{titlePart.authorInfo}}
	</p>
	{% endif %}

	{% if titlePart.abstract %}
	<p class="abstract">
		{{titlePart.abstract}}
	</p>
	{% endif %}
</header>